@import url(normalize.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

:root{
    --Amarillo: #eac926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --GrisOscuro: #666;
    --GrisClaro: #ebebeb;
    --Verde: #39b54a;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img{
    width: 100%;
    height: auto;
}

header{
    background-color: var(--Amarillo);
}

.divSuperiorHead{
    display: flex;
    flex-wrap: wrap;
}

.cuotas{
    text-align: center;
    margin-top: 15px;
    width: 100%;
}

.logo{
    width: 40%;
    margin-bottom: 30px;
    margin-right: 10%;
}

.buscadores{
    padding: 10px;
    width: 40%;
}

.buscadores input{
    width: 80%;
}

.burguer-menu{
    display: flex;
    justify-content: center;
    margin-top:20px;
    padding-bottom: 15px;
}

.burguer-menu i{
    padding: 10px;
    background-color: var(--Celeste);
    border-radius: 5px;
    display: inline;
    margin: auto 0;
    color: white;
}

ul{
    padding: 0;
    margin: 20px;
}

ul li{
    list-style: none;
}

header ul{
    display: none;
}

@media(min-width: 480px){
    .mainNavBar{
        display: flex;
        justify-content: space-around;
    }
    .logo{
        width: 30%;
    }
    .cuotas{
        width: 30%;
    }
    .mainNavBar ul{
        display: flex;
    }
    .mainNavBar li{
        margin: 0 5px
    }
    .burguer-menu{
        display:none
    }
    .divSuperiorHead{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-left: 10px;
    }
    .logo{
        width: 25%;
        margin-top: 10px;
        margin:0;
    }
    .cuotas{
        font-size: 17px;
        margin-left: 5px;
    }
    .buscadores{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
    }
    .buscadores input{
        width: 80%;
        height: 40%;
    }
}

@media(min-width: 1080px){
    .mainNavBar{
        display: flex;
        justify-content: space-around;
    }
    .mainNavBar ul{
        display: flex;
    }
    .mainNavBar li{
        margin: 0 15px
    }
    .burguer-menu{
        display:none
    }
    .divSuperiorHead{
        display: flex;
        justify-content: space-around;
        padding: 5px;
    }
    .logo{
        width: 25%;
        margin-top: 10px;
    }
    .cuotas{
        font-size: 17px;
    }
    .buscadores{
        margin-left: 60px;
        margin-right: 20px;
        margin-top: 5px;
        text-align: center;
        width: 30%;
    }
}