<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    rel="stylesheet" />
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
</head>
<body>
    <header>
        <div class="divSuperiorHead">
            <img class="logo" src="/images/logo-mercado-liebre.svg" alt="logo">
            <div class="buscadores">
                <input type="search" name="busqueda" placeholder="Buscar productos, marcas...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <p class="cuotas"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de credito</p>
        </div>
        
        <div class="mainNavBar">
            <ul class= "links">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                </ul>
                
            <ul class="links2">
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresa</a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
                </ul>
        </div>

        <div class="burguer-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main> 
        <img src="/images/img-home-banner.jpg">
        <h2>Basado en mi ultima visita</h2>
        <section class="articulos1">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$6770</p>
                        <p class="desc-descripcion">40% off</p>
                    </div>
                    <h3>Cafetera moulinex</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit deserunt tenetur necessitatibus earum, voluptatibus, dicta ducimus id aut, vero fuga nostrum. Quidem recusandae, praesentium quia rerum reprehenderit distinctio est vel?</p> 
                </div>
            </article>
            
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$230.000</p>
                        <p class="desc-descripcion">20% off</p>
                    </div>
                    <h3>Macbook pro 2019</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum fuga repellendus aspernatur aliquid deleniti nam. Sapiente esse, reiciendis, ab tenetur sit odio dicta doloribus, aliquid quidem eum nihil voluptates?</p>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$70.500</p>
                        <p class="desc-descripcion">10% off</p>
                    </div>
                    <h3>Samsung galaxy S10</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque explicabo natus beatae enim assumenda delectus in aliquam libero iste quod? Incidunt eligendi tempore rerum perspiciatis! Aut officia voluptates et iste.</p>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$23.200</p>
                        <p class="desc-descripcion">5% off</p>
                    </div>
                    <h3>Smart TV Samsung 43</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aspernatur! Sapiente voluptas tempora architecto fugiat delectus soluta commodi eos nam inventore. Illum iusto eveniet corrupti provident quibusdam tempore sapiente velit?</p>
                </div>
            </article>
        </section>
        <h2>Sección ofertas</h2>
        <section class="articulos1">
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$6770</p>
                        <p class="desc-descripcion">40% off</p>
                    </div>
                    <h3>Cafetera moulinex</h3>
                    <p class="descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Optio, ut dolorem repellat aperiam id reiciendis? Nam ea recusandae repellat, asperiores mollitia veniam dicta autem harum? Doloribus saepe repellat reiciendis libero.</p>
                </div>
            </article>

            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$230.000</p>
                        <p class="desc-descripcion">20% off</p>
                    </div>
                    <h3>Macbook pro 2019</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Beatae nostrum assumenda exercitationem! Ratione velit modi ea aliquam maiores saepe soluta vel? Accusamus atque, eveniet dolorum in voluptatibus amet. Repellat, doloremque.</p>
                </div>
            </article>

            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$70.500</p>
                        <p class="desc-descripcion">10% off</p>
                    </div>
                    <h3>Samsung galaxy S10</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Hic ipsa perspiciatis quidem, debitis asperiores adipisci. Animi modi tenetur similique excepturi quam magni doloremque, repellat voluptate, nihil, corrupti accusamus cumque recusandae!</p>
                </div>
            </article>

            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="">
                <div class="productoDescripcion">
                    <a href="#" class="botonTruck"><i class="fa-solid fa-truck"></i></a>
                    <div class="precio">
                        <p class="precios">$23.200</p>
                        <p class="desc-descripcion">5% off</p>
                    </div>
                    <h3>Smart TV Samsung 43</h3>
                    <p class="descripcion">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam asperiores corporis suscipit omnis reiciendis laudantium totam eos aspernatur velit inventore. Suscipit impedit cupiditate sint ad fuga, nisi incidunt debitis rerum?</p>
                </div>
            </article>
        </section>
    </main>
    <footer>
        <section>
            <i class="fa-solid fa-credit-card"></i>
          <h4>Paga con tarjeta o en efectivo</h4>
          <p>Con MercadoLiebreCash tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!.</p>
        </section>
    
        <section>
            <i class="fa-solid fa-gift"></i>
          <h4> Envío gratis desde los $2.500 </h4>
          <p> Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </section>
    
        <section>
            <i class="fa-solid fa-user-shield"></i>
          <h4> Seguridad, de principio a fin </h4>
          <p> ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        <strong class="seccion-final__parrafo"> Copyright © 1999-2022 MercadoLiebre S.R.L. </strong>
        </section>
      </footer>
</body>
</html>
